<!-- Footer -->
<section class="row footer">
	<article class="grid_8 offset_2">
		<nav>
			@{
				function doNav(path:String, name:String)
				{
					return if(path == '/' + curaddr) 
						name;
					else
						'<a href="' + path + '">' + name + '</a>';
				}
			}
			<ul>
				<li>@doNav('/index.html','home')</li>
				<li>@doNav('/about.html','about')</li>
				<li>@doNav('/projects/index.html','projects')</li>
			</ul>
		</nav>
		<ul class="icons">
			<!-- <li><a href="contact.html"><i class="fa fa&#45;envelope"></i></a></li> -->
			<li><a href="http://twitter.com/cwaneck"><i class="fa fa-twitter"></i></a></li>
			<li><a href="http://github.com/waneck"><i class="fa fa-github"></i></a></li>
		</ul>
	</article>
</section>

<section class="footer-attribution">
	<a href="http://haxe.org"> <div class="haxe-bw-invert-small"></div> </a>
	Powered by <a href="http://haxe.org">Haxe</a>. <a href="https://github.com/waneck/codegen.ml">See source or contribute to this page </a><br/>
	<!-- This is really the license; but it's too ugly to be here. Sorry, creative commons! -->
	<!-- <a rel="license" href="http://creativecommons.org/licenses/by&#45;sa/4.0/"><img alt="Creative Commons License" style="border&#45;width:0" src="https://i.creativecommons.org/l/by&#45;sa/4.0/88x31.png" /></a> -->
</section>

<!-- Scripts -->
<script type="text/javascript" src="js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="js/amazium.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
<script>
hljs.configure({
	tabReplace: '\t',
})
hljs.initHighlightingOnLoad();
</script>

</body>
