<!DOCTYPE html>
<!--[if lt IE 8]>
<html class="ie" dir="ltr" lang="en-US">
<![endif]-->
<!--[if ! lt IE 8 ]><!-->
<html dir="ltr" lang="en-US">
<!--<![endif]-->
<head>
	<!-- fonts -->
	<link href='http://fonts.googleapis.com/css?family=Cabin:400,600|Cabin+Condensed:700|Alegreya+SC' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Oleo+Script&text=codegen.ml' rel='stylesheet' type='text/css'>
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/codepen-embed.min.css">
	<meta charset="UTF-8" />
	<title>@title</title>
	@if (description != null) { <meta name="description" content="@description"> }
	@if (author != null) { <meta name="author" content="@author"> }
	@if (keywords != null) { <meta name="keywords" content="@(keywords.join(","))"> }
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />

    <script type="text/javascript">
        /mobi/i.test(navigator.userAgent) && !location.hash && setTimeout(function () {
          if (!pageYOffset) window.scrollTo(0, 1);
        }, 1000);
    </script>

	<!-- CSS -->
	<!-- <link rel="stylesheet" href="/css/concat.css"> -->
	<link rel="stylesheet" href="/css/base.css">
	<link rel="stylesheet" href="/css/amazium.css">
	<link rel="stylesheet" href="/css/codegenml.css">

	<!-- Favicons -->
	<link rel="shortcut icon" href="/img/favicon.ico">
	<link rel="apple-touch-icon-precomposed" href="/img/apple-touch-icon.png">
</head>
