body {
	margin: 0;
	border-top: 4px solid #333;
	font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.6em !important;
	text-rendering: optimizelegibility;
	/* font-size: 18px; */
}

h1,h2,h3,h4,h5,h6 {
	/* color: #000; */
	font-family: 'Cabin Condensed', 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight:700;
}

a.more {
	font-family: 'Alegreya SC', serif;
	font-size: 1em;
}

body p {
	font-size: 20px;
	line-height: 1.6em;
	font-weight:400;
}

.featured {
	font-weight: 700;
}

p.featured {
	margin-bottom: 32px;
}

div.date {
	/* font-family: 'EB Garamond', serif; */
	/* font-family: 'Rosario', sans-serif; */
	/* font-family: 'Alegreya Sans', sans-serif; */
	/* font-family: 'IM Fell English SC', serif; */
	font-family: 'Alegreya SC', serif;
	/* font-style:italic; */
	font-size: 1.2em;
	margin-bottom:21px;
}

article .tags {
	font-family: 'Alegreya SC', serif;
	/* text-align: right; */
}

article img {
	max-width: 100%;
}

article .tags a.tag {
	background-color: #FDFDFD;
	border-bottom: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	padding: 3px 4px;
	margin: 2px 2px 2px 0px;
	text-decoration: none;
	font-size: 0.9em;
	line-height: 1.4em;
	white-space: nowrap;
	display: inline-block;

	-webkit-transition: background .5s,color .5s;
	transition: background .5s,color .5s;
}

article .tags a.tag:hover {
  color: white;
	background: #333;

	-webkit-transition: background .5s,color .5s;
	transition: background .5s,color .5s;
}

article.preview h2 {
	margin-bottom: 0;
}
article.main h1 {
	margin-bottom: 0;
}

article.preview {
	margin-top: 48px;
}

::-moz-selection {
  background: #333;
  color: #fff;
}

::selection {
  background: #333;
  color: #fff;
}

a:hover {
	text-decoration: underline;
}

h1 a,h2 a {
	text-decoration:none;
}

section.contents p a:hover, p.featured a:hover {
  color: white;
	background: #333;

	-webkit-transition: background .5s,color .5s;
	transition: background .5s,color .5s;
}

section.contents p a, p.featured a {
	color: #333:

	-webkit-transition: background .5s,color .5s;
	transition: background .5s,color .5s;
}

article figcaption {
	/* display:block; */
	text-align: right;
	font-size: 1em;
}

article figure {
	margin: 0 25px 20px 25px;
}

article.main .media {
	margin: 0 auto;
}

.header {
}

.logo {
	font-family: 'Oleo Script', 'Georgia', sans-serif;
	font-size: 72px;
	text-align: center;
	line-height: 42px;
	margin: 72px 0 89px 0;
	color: #333;
}

.logo a {
	text-decoration: none;
}

article.main h1 {
	text-align: center;
}

article.main div.date {
	text-align: center;
}

article.main pre code {
	font-family: 'Ubuntu Mono','Consolas',Courier,monospace;
	tab-size: 2;
	-moz-tab-size: 2;
	-o-tab-size:  2;
	font-size: 0.7em;
	line-height: 1.05em;
}

article.main pre {
	/* margin: 0 25px 0 25px; */
}

section.contents {
	margin-bottom: 48px;
	display:block;
	min-height: 400px;
}

/* footer */
nav li + li:before {
	content: ". ";
	/* padding: 0 3px; */
}

nav ul {
	list-style:none;
	margin:0;
	text-align:center;
	font-family: 'Alegreya SC', serif;
	font-size: 1em;
}

nav ul li {
	display:inline-block;
}

ul.icons {
	list-style:none;
	margin:0;
	text-align:center;
}

ul.icons li {
	display:inline-block;
	font-size: 1.55em;
	margin-right: 12px;
}

ul.icons li a {
	color:#333;
}
ul.icons li a:hover {
	color: #000;
}

.contrib {
	margin-top: 60px;
	text-align:center;
}

.contrib p {
	margin: 0;
	font-size: 0.45em;
}

section.footer-attribution {
	text-align: center;
	margin-top: 14px;
	padding-top: 42px;
	font-size: 0.750em;
	color: white;
	background-color: #333;
}

section.footer-attribution a {
	color: white;
}

div.haxe-bw-invert-small {
	width: 48px;
	height: 48px;
	background-image: url(../img/haxe-bw-invert-small.png);
	margin: 0 auto 12px;
}


@media only screen and (max-width: 767px) {
	body p {
		font-size: 16px;
		line-height: 1.8em;
	}
	body {
		line-height: 2.0em !important;
	}
}
